*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    min-height: 109vh;
    display: flex;
}
.navlist{
    height:10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.navlist li{
    list-style-type: none;
}
.navlist a{
    color:#000;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;
    position: relative;
}
.navlist li a::after{
    content:"";
    position: absolute;
    width: 100%;
    height: .1rem;
    background:black;
    left: 0;
    bottom: -5px;
    transition: transform .5s;
    transform: scale(0);
    transform-origin: bottom right;
}
.navlist li a:hover::after{
    transform: scale(1);
    transform-origin: bottom left;
}
